html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
}

input[type=text], select {
    align-content: center;
    width: 50%;
    padding: 5px 10px;
    margin: 3.5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }